//- head
//- link(rel='stylesheet', href='/style.css')
//- link(rel='stylesheet', href='/css/bootstrap.min.css')
header 
 nav(class="d-flex flex-column gx-4") 
  a(class='button' href='/home') Home 
  a(class='button' href='/about') About Us
  a(class='button' href='/gallery') Gallery
  a(class='button' href='/services') Services
  a(class='button' href='/contact') Contact
  a(class='button' href='/contactDetails') Contact Details