doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  title Services

include ./partials/header.pug

.container-fluid.text-center.mt-4.mb-4
  h2 SERVICES
  h4 What we offer
  br
  .row
    .col-sm-4
      i(class='glyphicon glyphicon-search')
      h4 POWER
      p Lorem ipsum dolor sit amet..
    .col-sm-4
      span.glyphicon.glyphicon-heart
      h4 LOVE
      p Lorem ipsum dolor sit amet..
    .col-sm-4
      span.glyphicon.glyphicon-lock
      h4 JOB DONE
      p Lorem ipsum dolor sit amet..
  br
  br
  .row
    .col-sm-4
      span.glyphicon.glyphicon-leaf
      h4 GREEN
      p Lorem ipsum dolor sit amet..
    .col-sm-4
      span.glyphicon.glyphicon-certificate
      h4 CERTIFIED
      p Lorem ipsum dolor sit amet..
    .col-sm-4
      span.glyphicon.glyphicon-wrench
      h4 HARD WORK
      p Lorem ipsum dolor sit amet..


include ./partials/footer.pug
