{{> header}}
  <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block"><h4>Hi {{uname}}, you are welcome here</h4></span>
          <div class="mb-4 lead"><img src="{{path}}" width="400" height="400"/></div>
          <a href="/logout" class="btn btn-danger"> Logout</a>
        </div>
      </div>
    </div>
  </div>
{{> footer}}