{{!-- Dashboard / Home Page --}}

{{> header}}


    <div class="page-wrap d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <span class="display-1 d-block"><h2>Dashboard Page</h2></span>
            <div class="mb-4 lead"><h3>Welcome {{succsMsg}}</h3></div>
            <h3>Message we received from You: <br>
                <p>{{dataArr.[5]}}</p>
            </h3>
            <button class="btn btn-warning fw-bolder"><a href="/login" class="btn btn-link text-dark text-decoration-none">Logout</a></button>
          </div>
        </div>
      </div>
    </div>

{{> footer}}