{{!-- Page for showing succes message for registration  --}}
{{> header}}

<div>
<h2>Registration Succesful</h2>
<h4>Login to access User Account</h4>
<button class="btn btn-primary"><a  class='text-white' href="/login">Login</a></button>
</div>

{{> footer}}