{{!-- Footer for our page --}}
<footer class="flex-shrink-0 py-4 bg-info text-black-500 fw-bold" id="sticky-footer">
    <div class="container text-center">
        <large>Copyright &copy; Assignment-3 </large>
    </div>
</footer>
<script src="/validation.js"></script>
</body>
</html>